[Unit]
Description=node application
RequiresMountsFor=/vagrant
After=nginx.service
After=mysql.service

[Service]
Environment=NODE_PORT={{ app_node.port }} NODE_ENV={{ app_node.env | default('development') }} LOG_FILE=/var/log/{{ app_node.service_name }}.log
Type=simple

User=vagrant
Group=vagrant
PermissionsStartOnly=true

ExecStartPre=/usr/bin/touch ${LOG_FILE}
ExecStartPre=/bin/chmod 0666 ${LOG_FILE}

ExecStart=/bin/sh -c 'cd {{ app_node.root }} && npm start >> ${LOG_FILE} 2>&1'

WorkingDirectory={{ app_node.root }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
